body {
    font-family: 'Alliance No.1', sans-serif;
    background-color: #0c1117;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    height: 40px;
}

.header-buttons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right;
    padding-right: 10px;
}

.header-buttons li {
    margin: 0 10px;
}

.header-buttons a {
    text-decoration: none;
    color: #fff;
}

.header-buttons a:hover {
    text-decoration: underline;
}

.header h1 {
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-input {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #333;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}

.search-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #555;
}

.repository-list {
    margin-top: 10px;
}

.repository {
    background-color: #161b22;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.repository-title {
    font-size: 18px;
    color: #1e6eeb;
    font-weight: bold;
}

.repository-description {
    margin-top: 10px;
    font-size: 15px;
    color: #555;
    white-space: pre-line;
}

.repository-stars {
  
}