{% extends "base.html" %}

{% block content %}


<div class="row g-0 border-bottom border-light border-2">
  <div class="col-12 bg-black p-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search For a Repository">
      <div class="input-group-append">
        <button class="btn btn-light ms-2" type="button">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="row g-0 flex-grow-1">
  
  <div class="col-2 d-flex flex-column border-end border-light border-2">
    
    <div class="row g-0 bg-dark p-3">
      <h4 class="text-center text-light">Filter</h4>
    </div>
    
    <div class="row g-0 bg-black flex-grow-1 p-3">
      <div class="form-check">
        {% for language in languages %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="myCheck" onclick = "setlanguage()" value="" >
              <label class="form-check-label text-light" id="text" onclick = "alert('you must have missed clicked')">{{ language.name }}</label>
            </div>
        {% endfor %}
        <button class=" mt-3 btn btn-dark px-5" onclick = "filterclicked()">Filter</button>
      </div>
    </div>
  </div>

  <div class="col-10 d-flex flex-column bg-black">

    <div class="row g-0 bg-black">
      <div class="col-10 p-2">
        <button class="btn btn-light p-2 px-3">1</button>
        <button class="btn btn-light p-2 px-3">2</button>
        <button class="btn btn-light p-2 px-3">3</button>
        <span class="text-light">...</span>
        <button class="btn btn-light p-2 px-3">10</button>
      </div>

      <div class="col-2 p-2">
        <select class="form-select float-end" aria-label="Default select example">
          <option selected>Sort By</option>
          <option value="">Popularity</option>
          <option value="">Forks</option>
          <option value="">Last Commit</option>
        </select>
      </div>

   
    </div>

    <div class="row g-0 flex-grow-1 p-3">
      {% for repository in repositories %}
          <div class="repository border border-light p-3">
            <div class="repository-title">{{ repository.name }}</div>
            <div class="repository-description"> {{ repository.description }}</div>
            <p><b>Language: </b>{{ repository.language }}</p>
            <p><b>Stars: </b>{{ repository.stars }}</p>
            <p><b>Open Issues: </b>{{ repository.issues }}</p>
            <p><b>Forks: </b>{{ repository.forks }}</p>
            <p><b>Last Commit: </b>{{ repository.last_commit }}</p>
            <a href="{{ repository.url }}" target="_blank">
              <button>View on GitHub</button>
            </a>
          </div>
      {% endfor %}
    </div>

    
  </div>
</div>
<script>
  //don't use ; when using the script stuff here
  var langauages = {}
  var langaugenum = 0;
  function setlanguage(){
   // ok found it to partialy work accound to id, which only is usable once so the first item type script it the only thing to work 
    var checkBox = document.getElementById("myCheck")
    var text = document.getElementById("text").textContent
    if (checkBox.checked == true){
      alert('checked has been used')
      langauages[langaugenum] = text
      langaugenum = langaugenum + 1
    }
     //alert('checked has been used')
  }
  
  function filterclicked() {
    if(langauages[0] == null){
      alert('nothing to filter')
    }else{
       alert(langauages[1])
    }
    
  }
</script>


{% endblock content %}