{% extends "base.html" %}

{% block content %}
  <div class="container">
      <div class="search-container bg-white">
        <form action="" method="post">
          {% csrf_token %}
          {{ search_form }}
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="repository-list">
          {% for repository in repositories %}
              <div class="repository">
                <div class="repository-title text-warning" >{{ repository.name }}</div>
                <div class="repository-description text-primary"> {{ repository.description }}</div>
                <p style = "color:gold"><b>Language: </b>{{ repository.language }}</p>
                <p style = "color:blue"><b>Stars: </b>{{ repository.stars }}</p>
                <p style = "color:gold"><b>Open Issues: </b>{{ repository.issues }}</p>
                <p style = "color:blue"><b>Forks: </b>{{ repository.forks }}</p>
                <p style = "color:gold"><b>Last Commit: </b>{{ repository.last_commit }}</p>
                <a href="{{ repository.url }}" target="_blank">
                  <button>View on GitHub</button>
                </a>
              </div>
          {% endfor %}
      </div>
  </div>
{% endblock content %}