{% extends "base.html" %}

{% block content %}
  <div class="container">
      <div class="search-container">
        <form action="" method="post">
          {% csrf_token %}
          {{ search_form }}
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="repository-list">
          {% for repository in repositories %}
              <div class="repository">
                <div class="repository-title">{{ repository.name }}</div>
                <div class="repository-description"> {{ repository.description }}</div>
                <p><b>Language: </b>{{ repository.language }}</p>
                <p><b>Stars: </b>{{ repository.stars }}</p>
                <p><b>Open Issues: </b>{{ repository.issues }}</p>
                <p><b>Forks: </b>{{ repository.forks }}</p>
                <p><b>Last Commit: </b>{{ repository.last_commit }}</p>
                <a href="{{ repository.url }}" target="_blank">
                  <button>View on GitHub</button>
                </a>
              </div>
          {% endfor %}
      </div>
  </div>
{% endblock content %}